{% extends 'base.html' %}

{% block content %}
<div class="head-section rg-bg-2 bg-img" data-background="{{ blog.internal_image.url }}">
    <div class="container index-up">
        <div class="row">
            <div class="col-lg-7 text-white">
                <div class="headconent">
                    <div class="mb15" data-cue="slideInUp" data-delay="100">
                        {% for category in blog.categories.all %}
                            <a href="#">{{ category.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <h1 data-cue="slideInUp" data-delay="300">{{ blog.title }}</h1>
                    <p class="mb10 f14" data-cue="slideInUp" data-delay="600">
                        Editorial Team,{{ blog.author }}, {{ blog.published_date|date:"d M Y" }}
                    </p>
                </div>
            </div>             
        </div>
    </div>
</div>
<section class="sec-pad pt50">
    <div class="container">            
        <div class="row">
            <div class="col-lg-8 padding-right-50">
                <div class="blog-details-block">
                    {% if blog.short_description %}
                        <p class="short-description mt10">{{ blog.short_description }}</p>
                    {% endif %}

                    {% if blog.blog_related %}
                        <div class="blog-related-image mt30">
                            <img src="{{ blog.blog_related.url }}" alt="Related Blog Image">
                        </div>
                    {% endif %}

                    <p>{{ blog.details.content|linebreaksbr }}</p>

                    {% if blog.details.additional_images.exists %}
                        <div class="blog-img-inner roundimg">
                            {% for image in blog.details.additional_images.all %}
                                <img src="{{ image.image.url }}" alt="{{ image.caption }}">
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if blog.details.tags.exists %}
                        <div class="blog-postinfos">
                            <span>Related Tags</span>
                            {% for tag in blog.details.tags.all %}
                                <a href="#" class="btgs">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="blog-postinfos bpsocial text-left text-md-right">
                        <span>Share: </span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-vimeo-v"></i></a>
                    </div>
                </div>

                {% comment %} <div class="row">
                    <div class="col-lg-8 col-md-8 mt30 mb30">
                        <div class="blog-postinfos">
                            <span>Related Tags</span>
                            {% for tag in blog.details.tags.all %}
                                <a href="#" class="btgs">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>

            <!-- Blog sidebar -->
            <div class="col-lg-4">
                <div class="sidebar-post-block-sw">
                    <!-- Sidebar block -->
                    <div class="sidebartitle">
                        <h6>Recent Posts</h6>
                    </div>
                    <div class="sidebarpost multipost">
                        {% for recent_blog in recent_blogs %}
                            <div class="media">
                                <div class="icondivs roundimg">
                                    <a href="{% url 'blog_detail' recent_blog.slug %}">
                                        <img src="{{ recent_blog.image.url }}" alt="{{ recent_blog.title }}">
                                    </a>
                                </div>
                                <div class="mediainfoblock">
                                    <a href="{% url 'blog_detail' recent_blog.slug %}">
                                        <h5 class="mb10">{{ recent_blog.title }}</h5>
                                    </a>
                                    <div class="f14">Editorial Team, {{ recent_blog.published_date|date:"d M Y" }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Sidebar block -->
                    <div class="sidebartitle mt60">
                        <h6>Most Used Tags</h6>
                    </div>
                    <div class="tabs">
                        {% for tag in tags_list %}
                            <a href="#" class="btgs">{{ tag.name }}</a>
                        {% endfor %}
                    </div>

                    <!-- Sidebar block -->
                    <div class="sidebartitle mt60">
                        <h6>Blog Category</h6>
                    </div>
                    <ul class="licircle">
                        {% for category in categories_list %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.blog-related-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebarpost .media {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarpost .icondivs {
    margin-right: 15px;
}

.sidebarpost .icondivs img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebarpost .mediainfoblock h5 {
    margin: 0;
    font-size: 16px;
}

.sidebarpost .mediainfoblock .f14 {
    font-size: 14px;
    color: #666;
}
</style>
{% endblock %}
