{% extends 'base.html' %}
{% load static %}
{% block title %}contact us{% endblock %}
{% load  static %}
{% block content %}

 <div class="head-section sw-bg-2-wave">
         <div class="container">
            <div class="row mb80">
               <div class="col-lg-7">
                  <div class="headconent text-white">
                     <span class="subtitleheading">Contact Us</span>
                     <h1>We’ll be happy to help!.  Contact Us </h1>
                  </div>
               </div>
               <div class="col-lg-4 position-relative">
                  <img src="{% static 'images/common/retro-phone.png'%}" alt="img" class="retrophne">
               </div>
            </div>
         </div>
      </div>
      <!-- contact us block -->
<section class="contact-block-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form Section -->
                <div class="contactusblockpair-1 shadow mb80 roundimg">
                    <div class="formblockz">
                        <div class="form-block rundalform">
                            <h3 class="mb10">Send us a message</h3>
                            <p class="mb30">We aim to respond quickly upon receiving your message.</p>
                            <form action="{% url 'contactus' %}" id="contactform" method="post">
                                {% csrf_token %}
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group floating-label">
                                        <input type="text" placeholder=" " required="required" id="name" class="floating-input" name="fullname">
                                        <label>Full Name</label>
                                    </div>
                                    <div class="col-md-6 form-group floating-label">
                                        <input type="tel" placeholder=" " required="required" id="mobile_number" class="floating-input" name="mobile_number">
                                        <label>Mobile Number</label>
                                    </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-6 form-group floating-label">
                                        <input type="email" placeholder=" " required="required" id="email" class="floating-input" name="email">
                                        <label>Email Address</label>
                                    </div>
                                    <div class="col-md-6 form-group floating-label">
                                        <select required="required" id="interested_in" class="floating-select" name="interested_in">
                                            <option value="">&nbsp;</option>
                                            <option value="Graphic Design">Logo Design</option>
                                            <option value="Web Design">Web Design</option>
                                            <option value="App Design">App Design</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label>Interested In</label>
                                    </div>
                                </div>
                                <div class="fieldsets row">
                                    <div class="col-md-12 form-group floating-label">
                                        <textarea placeholder=" " required="required" id="description" class="floating-input" name="description"></textarea>
                                        <label>Your message </label>
                                    </div>
                                </div>
                                <div class="formfooter">
                                    <div class="fieldsets">
                                        <button type="submit" name="submit" class="r-g-btn r-g-btn-1 submitbtn">
                                            <span>Send</span>
                                        </button>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="agree" name="agree" checked="checked">
                                        <label class="custom-control-label ctmlabl" for="agree">By clicking here, I state that I have read and understood the <a href="#">Terms &amp; Conditions</a>.</label>
                                    </div>
                                </div>
                            </form>



                           
                        </div>
                     </div>
                     <div class="infoblockz sw-bg-3-wave">
                        <div class="contactinfodivv">
                           <div class="con-block-sw-div">
                              <h2 class="mb10">Let's get in touch</h2>
                              <p>We will catch you as early as we receive the message</p>
                              <div class="contactinfodivsw mt30">
                                 <div class="contactnumberdiv">
                                    <p class="mb5 linktitle">We're happy to assist. Call Now.</p>
                                    <a href="#"><i class="fa-solid fa-tty mr10"></i> +91 9877108732</a>
                                    <a href="#"><i class="fa-brands fa-whatsapp mr10"></i> +91 9877108732</a>
                                 </div>
                                 <div class="contactnumberdiv mt30">
                                    <p class="mb5 linktitle">Send Us an Email:</p>
                                    <a href="#"><i class="fa-solid fa-envelope mr10"></i> aptechnology2024@gmail.com</a>
                                    {% comment %} <a href="#"><i class="fa-solid fa-envelope mr10"></i> info@yourwebsite.com</a> {% endcomment %}
                                 </div>
                                 {% comment %} <div class="contactnumberdiv mt30">
                                    <p class="mb5 linktitle">Chat on Skype:</p>
                                    <a href="#"><i class="fa-brands fa-skype mr10"></i>rundal:live</a>               
                                 </div> {% endcomment %}
                                 <div class="social-link-sw mt30">
                                    <span class="linktitle">Follow Us</span>
                                    <ul class="footer-social-sw mt10 sw-hover-2">
                                       {% comment %} <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> {% endcomment %}
                                       {% comment %} <li> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li> {% endcomment %}
                                       {% comment %} <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li> {% endcomment %}
                                       <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% if messages %}
            {% for message in messages %}
            alert("{{ message.message }}");
            {% endfor %}
            {% endif %}
        });
    </script>
      </section>

      <!-- location map -->
      <section class="why-choose-us sec-pad pt0">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h2>Come Meet Us</h2>
                <p class="mt15">
                    "Communication is key. Connect with us in person for a more personalized experience."
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-lg-12">
                <!-- address map -->
                <div class="worldmapwithaddress" data-background="{% static 'images/shape/world-map.svg' %}">
                    <div class="address-divi-sw">
                        <div class="ripple adv-1" id="address-1"></div>
                        <div class="ripple adv-2" id="address-2"></div>
                        {% comment %} <div class="ripple adv-3" id="address-3"></div>
                        <div class="ripple adv-4" id="address-4"></div> {% endcomment %}
                    </div>
                </div>
            </div>
            <!--  -->

            <!-- address data -->
            <div class="col-xl-5 col-lg-6 addressblockdiv">                
                <div id="addressblock-1">
                    <div class="media r-g-card shadow">
                        <div class="icon-div"><img src="{% static 'images/icons/india.svg' %}" alt="icon"></div>
                        <div class="media-body-content">
                            <h4>Barnala, Punjab</h4>
                            <p>Barnala, Punjab, India</p>
                        </div>
                    </div>
                </div>
                <div id="addressblock-2">
                    <div class="media r-g-card shadow">
                        <div class="icon-div"><img src="{% static 'images/icons/india.svg' %}" alt="icon"></div>
                        <div class="media-body-content">
                            <h4>Patiala, Punjab</h4>
                            <p>Patiala, Punjab, India</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // -->
        </div>           
    </div>
</section>

      <!-- // -->
      <!-- cta skew -->
    
      <!-- cta skew -->

      <!-- back to top -->
      <div class="progress-wrap">
         <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
         </svg>
      </div>
      
      <!--Plugin Js Files -->
      <script src="js/jquery.min.js"></script>   
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/min.plugin.js"></script>   
      
      <!-- form Js Files -->
      <script src="assets/js/jquery.validate.min.js"></script>
      <script src="assets/js/sweetalert2.all.min.js"></script>    
      <script src="assets/js/main.js"></script>

      <!--Custom Js File -->   
      <script src="js/custom.js"></script>      
{% endblock %}