{% extends 'base.html' %}
{% load static %}
{% block title %}Services - AP Technologies{% endblock %}
{% block content %}

<div class="head-section rg-bg-2">
    <div class="container">
        <div class="row align-end">
            <div class="col-lg-7">
                <div class="headconent">
                    <div class="navitagion">
                        <ul class="list-h-styled mb30">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Our Latest Work</li>
                        </ul>
                    </div>
                    <h1 class="mb0">AP Technologies: Elevating Your Business with Passion and Expertise ✶</h1>
                </div>
            </div>
            {% comment %} <div class="col-lg-4 mmt40">
                <div class="position-relative portfolio-rolltxt">
                    <div class="ct-index">
                        <div class="round-text">
                            <img src="{% static 'images/common/circled-text.svg' %}" alt="logo" class="texts">
                            <a href="#" class="textinn"><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div> {% endcomment %}
                <p>At AP Technologies, we are committed to driving innovation and delivering tailored digital solutions. Our team of dedicated experts ensures that your business reaches new heights through cutting-edge technology and strategic approaches.</p>
            </div>
        </div>
    </div>
</div>

<!-- portfolio block -->
<section class="sec-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-3d-set" data-cues="slideInUp" data-delay="100">
                    <!-- Dynamic portfolio projects -->
                    {% for project in projects %}
                  <div class="card-3d-scale">
    <a href="{% url 'portfolio_detail' project.id %}" class="port_overlay"></a>
    <div class="card3d_cover">
        <div class="card-3d-scale_image">
            <img src="{{ project.image.url }}" alt="image">
        </div>
        <div class="card3d-text">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
        </div>
    </div>
</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>        
</section>

{% endblock %}
