{% extends 'base.html' %}
{% load static %}
{% block title %}services{% endblock %}
{% load  static %}
{% block content %}

 <div class="head-section rg-bg-5">
   <div class="container">
      <div class="row vcenter justify-content-between">
         <div class="col-lg-5">
            <div class="headconent paragraph">
               <span class="subtitleheading" data-cue="slideInUp" data-delay="100">✦ AP Technologies</span>
               <h1 data-cue="slideInUp" data-delay="400">Transform Your Business with Custom Solutions</h1>
               <h5 class="mt20" data-cue="slideInUp" data-delay="600">Empowering businesses through cutting-edge technology and innovative strategies.</h5>
               <p class="mt20" data-cue="slideInUp" data-delay="800">At AP Technologies, we specialize in delivering custom software, web, and e-commerce solutions tailored to meet the specific needs of your business. Our goal is to drive growth, improve efficiency, and enhance customer engagement.</p>
               <p data-cue="slideInUp" data-delay="1000">From automating workflows to building scalable e-commerce platforms, we combine industry expertise with the latest technologies to help your business thrive in the digital world. Let us guide you on your journey to innovation and success.</p>
               <a href="{% url 'contactus' %}" class="r-g-btn r-g-btn-1 mt30" data-cue="slideInUp" data-delay="1200">Start Your Project</a>
            </div>
         </div>
         <div class="col-lg-6 bg-after mmt40" data-cues="slideInRight" data-delay="100">
            <div class="single-image roundimg shadow big-hero-img index-up">
               <img src="{% static 'images/service/service-4.png' %}" alt="AP Technologies" class="w-100">
            </div>
         </div>
      </div>
   </div>
</div>

      <!-- inner pages end -->

      <!-- brands -->
     {% comment %} {% load static %}

<div class="brands-sets">
    <div class="container">
        <div class="row mt60">
            <div class="col-md-12">
                <div class="logo---set owl-carousel">
                    <div class="logo--inner-div"><img src="{% static 'images/brands/logo-2.png' %}" alt="Brand Logo 2"></div>
                    <div class="logo--inner-div"><img src="{% static 'images/brands/logo-3.png' %}" alt="Brand Logo 3"></div>
                    <div class="logo--inner-div"><img src="{% static 'images/brands/logo-4.png' %}" alt="Brand Logo 4"></div>
                    <div class="logo--inner-div"><img src="{% static 'images/brands/logo-5.png' %}" alt="Brand Logo 5"></div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

      <!-- // -->

      <!-- block -->
<section class="sec-pad">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="single-image roundimg shadow" data-cue="slideInLeft" data-delay="100">
                    <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="AP Technologies Solutions" class="w-100">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 paragraph mmt40">
                <h2 data-cue="slideInUp" data-delay="100">Unlock Complete Control with AP Technologies’ Solutions</h2>
                <p data-cue="slideInUp" data-delay="300">At AP Technologies, we provide comprehensive solutions that empower your business operations and streamline your workflow. Our tools are designed to enhance efficiency and provide valuable insights for informed decision-making.</p>
                <ul class="linelist mt30" data-cues="slideInUp" data-delay="500">
                    <li>Efficiently manage various aspects of your business with our integrated solutions.</li>
                    <li>Utilize real-time analytics to make strategic decisions and optimize performance.</li>
                    <li>Access tailored reports and insights to stay competitive and drive growth.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

      <!-- // -->

      <!--block-->
   {% load static %}

<section class="sec-pad rg-bg-1">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <div class="cta-heading">
                    <h2 class="mb20">The Advantages of Automate Workflows</h2>
                    <p>We use advanced software to gather payment information for payment processing and approve online credit cards and other e-commerce payments.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-lg-12">
                <div class="points-cards mt30" data-cues="zoomIn" data-delay="100">
                    <div class="pntcrd">
                        <img src="{% static 'images/icons/money-bag.png' %}" alt="Growth in Sales">
                        <p>250% growth<br>in Sales</p>
                    </div>
                    <div class="pntcrd">
                        <img src="{% static 'images/icons/teamwork.png' %}" alt="Growth in Engagement">
                        <p>200% growth<br>in Engagement</p>
                    </div>
                    <div class="pntcrd">
                        <img src="{% static 'images/icons/score.png' %}" alt="Easy to Use">
                        <p>Easy to<br>Use Interface</p>
                    </div>
                    <div class="pntcrd">
                        <img src="{% static 'images/icons/shipment.png' %}" alt="Realtime Tracking">
                        <p>Real-time<br>Tracking Management</p>
                    </div>
                    <div class="pntcrd">
                        <img src="{% static 'images/icons/clock.png' %}" alt="Instant Settlement">
                        <p>Instant<br>Settlement Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

      <!--//-->

      <!-- block -->
{% load static %}

<section class="sec-pad">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6 paragraph">
                <h2 data-cue="slideInUp" data-delay="100">Empowering Businesses with Innovative Solutions</h2>
                <p data-cue="slideInUp" data-delay="300">At AP Technologies, we provide cutting-edge technology solutions designed to enhance business efficiency and drive growth. Our comprehensive services cater to diverse needs, ensuring that our clients stay ahead in the competitive digital landscape.</p>
                <ul class="ullist check mt30" data-cues="slideInUp" data-delay="600">
                    <li>Seamlessly integrate advanced software solutions to streamline operations and boost productivity.</li>
                    <li>Access real-time analytics and insights to make informed decisions and drive strategic growth.</li>
                    <li>Benefit from tailored development strategies that address specific business challenges and opportunities.</li>
                </ul>
            </div>
            <div class="col-lg-6 mmt40">
                <div class="single-image roundimg shadow" data-cue="slideInRight" data-delay="300">
                    <img src="https://plus.unsplash.com/premium_photo-1661688164534-db78aaf825b0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="AP Technologies Service" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>

      <!-- // -->

      <!-- block -->
    {% load static %}

<section class="sec-pad rg-bg-3 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 paragraph text-white" data-cues="slideInUp" data-delay="100">
                <h2>Start Your Journey with AP Technologies Today</h2>
                <p>At AP Technologies, we’re dedicated to transforming your business with cutting-edge solutions and unparalleled expertise. Our team is here to guide you through every step of the way, ensuring that you leverage the latest technology to achieve your goals. From innovative software development to tailored IT solutions, we are committed to delivering exceptional value and driving your success.</p>
                <a href="{% url 'contactus' %}" class="r-g-btn r-g-btn-3 mt30"> GET IN TOUCH </a>
            </div>
            <div class="col-lg-6">
                <div class="service-mockup-2" data-cues="slideInRight" data-delay="100">
                    <img src="{% static 'images/service/service-6.png' %}" alt="AP Technologies Service">
                </div>
            </div>
        </div>
    </div>
</section>

      <!-- // -->

      <!-- block -->
     {% load static %}

{% load static %}

<section class="sec-pad">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="position-stick paragraph">
                    <span class="subtitleheading">✦ Our Work Process</span>
                    <h2>We deliver exceptional digital solutions that elevate your brand to the next level.</h2>
                    <p>At AP Technologies, our work process is designed to ensure the highest quality in web and mobile app development. We take a meticulous approach to every stage of the project to deliver solutions that not only meet but exceed your expectations.</p>
                    <a href="{% url 'contactus' %}" class="r-g-btn r-g-btn-1 mt30"> GET IN TOUCH </a>
                </div>
            </div>
            <div class="col-lg-7 mmt40">
                <div class="sw-timeline shadow" data-cues="slideInUp" data-delay="100">
                    <div class="sw-timeline-inner">
                        <h4><img src="{% static 'images/icons/score.png' %}" alt="Requirement Gathering & Analysis" class="imgwithtext">Requirement Gathering & Analysis</h4>
                        <ul class="sessions">
                            <li>
                                <p>We start by understanding your business goals and gathering detailed requirements. This crucial step helps us tailor our solutions to your specific needs and objectives.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="sw-timeline-inner">
                        <h4><img src="{% static 'images/icons/graphic-designer.png' %}" alt="Design & Prototype" class="imgwithtext">Design & Prototype</h4>
                        <ul class="sessions">
                            <li>
                                <p>Our design team creates visually stunning designs that align with your brand's identity and goals.</p>
                            </li>
                            <li>
                                <p>We develop prototypes to provide a tangible preview of the final product, allowing for feedback and refinements before development begins.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="sw-timeline-inner">
                        <h4><img src="{% static 'images/icons/binary-code.png' %}" alt="Development & Quality Assurance" class="imgwithtext">Development & Quality Assurance</h4>
                        <ul class="sessions">
                            <li>
                                <p>Development is carried out using the latest technologies and platforms, with a focus on transparency and collaboration.</p>
                            </li>
                            <li>
                                <p>We rigorously test our solutions to ensure they meet the highest standards of quality and performance before delivery.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="sw-timeline-inner">
                        <h4><img src="{% static 'images/icons/launch.png' %}" alt="Deployment & Support" class="imgwithtext">Deployment & Support</h4>
                        <ul class="sessions">
                            <li>
                                <p>We handle the deployment of your solution, whether it's on the web or in the App Store, ensuring a smooth launch.</p>
                            </li>
                            <li>
                                <p>Post-deployment, we provide ongoing support to address any issues and answer any questions you may have.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


      <!-- // -->

      <!-- cta skew -->
      {% comment %} <section class="cta-sw-skew">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="ctapairskew">
                     <div class="ctapair-skew" data-cue="slideInLeft" data-delay="100">
                        <div class="skew-sw-half rg-bg-3 skew-sw-left"></div>
                        <div class="skew-sw-div rg-bg-3"></div>
                        <div class="ctapaircontent">
                           <h3 class="mb15 text-white">Want to hire resources to work with you?</h3>
                           <a href="#" class="r-g-btn r-g-btn-3 mt30">Hire Developer </a>
                        </div>
                     </div>
                     <div class="ctapair-skew" data-cue="slideInRight" data-delay="300">
                        <div class="skew-sw-half rg-bg-5 skew-sw-right"></div>
                        <div class="skew-sw-div rg-bg-5"></div>
                        <div class="ctapaircontent">
                           <h3 class="mb15">Looking for Web Development Solutions?</h3>
                           <a href="#" class="r-g-btn r-g-btn-1 mt30">Talk to the Expert </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <!-- cta skew -->

      
      <!--Industries block -->
     {% load static %}

<section class="sec-pad rg-bg-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 paragraph">
                <h2>Industries We Worked For</h2>
                {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunta.</p> {% endcomment %}
            </div>
        </div>
        <div class="row mt60 justify-content-center">
            <div class="col-lg-10">
                <div class="domain-expertise">
                    <div class="iconsetsx" data-cue="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-heart.svg' %}" alt="Healthcare Service"> </div>
                            <div class="title-d-e">
                                <p>Healthcare <br> Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconsetsx" data-cues="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-education.svg' %}" alt="Education Service"> </div>
                            <div class="title-d-e">
                                <p>Education <br> Service</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ecommerce-s.svg' %}" alt="eCommerce Service"> </div>
                            <div class="title-d-e">
                                <p>eCommerce <br> Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconsetsx" data-cues="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-social.svg' %}" alt="Social Networking"> </div>
                            <div class="title-d-e">
                                <p>Social <br> Networking</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst highlightdomain text-white">
                            <div class="ico-d-e"><img src="{% static 'images/icons/joystick-a.svg' %}" alt="Mobile Game"> </div>
                            <div class="title-d-e">
                                <p>Mobile <br> Game</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/target-a.svg' %}" alt="Sports Service"> </div>
                            <div class="title-d-e">
                                <p>Sports <br> Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconsetsx" data-cues="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-retail.svg' %}" alt="Retail Service"> </div>
                            <div class="title-d-e">
                                <p>Retail <br> Service</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst highlightdomain text-white">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-manufacturing.svg' %}" alt="Manufacturing Service"> </div>
                            <div class="title-d-e">
                                <p>Manufacturing <br> Service</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-energy.svg' %}" alt="Energy Service"> </div>
                            <div class="title-d-e">
                                <p>Energy <br> Service</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconsetsx" data-cues="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-travels.svg' %}" alt="Travel & Hospitality"> </div>
                            <div class="title-d-e">
                                <p>Travel & <br> Hospitality</p>
                            </div>
                        </div>
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-real-estate.svg' %}" alt="Real Estate"> </div>
                            <div class="title-d-e">
                                <p>Real <br> Estate</p>
                            </div>
                        </div>
                    </div>
                    <div class="iconsetsx" data-cue="slideInUp" data-delay="100">
                        <div class="domn-ex-lst">
                            <div class="ico-d-e"><img src="{% static 'images/icons/ios-app-domain-exp-logistics.svg' %}" alt="Logistics Service"> </div>
                            <div class="title-d-e">
                                <p>Logistics <br> Service</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

      <!-- block -->

     <!--faq block-->
{% load static %}

<section class="sec-pad">
   <div class="container">
      <!-- Content block -->
      <section class="sec-pad rg-bg-1">
         <div class="container">
            <!-- block 1 -->
            <div class="row justify-content-between vcenter">
               <div class="col-xl-5 col-lg-5">
                  <h2 class="cd-headline zoom" data-cue="slideInUp" data-delay="100">
                     Here is the reason Why you should
                     <span class="cd-words-wrapper">
                        <b class="is-visible">Choose Us</b>
                        <b>Work with Us</b>
                     </span>
                  </h2>
                  <p data-cue="slideInUp" data-delay="400">
                     At AP Technologies, we specialize in providing top-notch web and app development solutions. Our commitment to innovation and quality ensures that we deliver products that not only meet but exceed your expectations. Our team of experts is dedicated to turning your vision into reality with precision and efficiency.
                  </p>
                  <div class="sw-faq inn-faq mt30">
                     <div class="accordion" id="accordionExample-001" data-cues="slideInUp" data-delay="600">
                        <!-- Dynamic FAQ items start here -->
                        {% for faq in faqs %}
                        <div class="accordion-item">
                           <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                              <button class="accordion-button {% if forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#faq-{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="faq-{{ forloop.counter }}">
                                 {{ faq.question }}
                              </button>
                           </h2>
                           <div id="faq-{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#accordionExample-001">
                              <div class="accordion-body">
                                 {{ faq.answer }}
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                        <!-- Dynamic FAQ items end here -->
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 mmt40">
                  <div class="sol-img" data-cue="slideInRight" data-delay="400">
                     <img src="{% static 'images/common/women-working-office.png' %}" alt="img" class="w-100">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="row mt60 justify-content-center">
         <div class="col-lg-8">
            <div class="center-cta-block" data-cues="slideInUp" data-delay="100">
               <div class="sol-img">
                  {% comment %} <img src="{% static 'images/common/developer3d.png' %}" alt="img"> {% endcomment %}
               </div>
               <div class="datablock">
                  <h2>Still Have Questions?</h2>
                  <p>Contact our dedicated team to discuss your project needs and how we can assist you. Email us anytime at aptechnology2024@gmail.com</p>
                  <a href="{% url 'contactus' %}" class="r-g-btn r-g-btn-8 mt30"> GET IN TOUCH </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

   <!-- // -->

   <!-- back to top -->
   <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"> <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/></svg>
   </div>

      <!--Plugin Js Files -->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/min.plugin.js'%}"></script>
      <!--Custom Js File -->
      <script src="{% static 'js/custom.js'%}"></script>


{% endblock %}
